.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--margin);
  box-shadow: var(--box-shadow);
  min-height: 64px;
}

.logo {
}

.options {
  display: flex;
  align-items: center;
  gap: var(--margin);

  .option {
    text-decoration: none;
    color: var(--text-color);

    &:hover {
      border-bottom: 1px solid var(--accent-color);
    }
  }

  .profile {
    text-decoration: none;
    border-radius: 50%;
    object-fit: cover;
    width: 32px;
    height: 32px;
  }
}
